caption {
    text-align: center;
}
table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th {
    background: #ccc;
}
.vertical-text{
    text-align: start;
    writing-mode:vertical-lr;
    transform: rotate(0deg);
    text-orientation: upright;
    font-size: 20px;
    font-weight: bold;
    
      
    padding: 10px;
}